[Desktop Entry]
Name=Cherry Studio
Exec='/tmp/.mount_cherryCSeVZT/CherryStudio' %U
Terminal=false
Type=Application
MimeType=x-scheme-handler/cherrystudio;
NoDisplay=true
